body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://color-print.ro/magazincp/fonts/Poppins-Regular.ttf')
    format('truetype');
}

#remember_me {
  margin-bottom: 15px;
}

.login-container {
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 25px;
  background: linear-gradient(180deg, #2c2c2c 0%, #3a3a3a 50%, #5c5c5c 100%);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 6px yellow;
}

.logo {
  align-items: center;
  width: 250px;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'] {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.buttonal {
  align-items: center;
  text-align: center;
}
button {
  width: 100%;
  padding-block: 10px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: medium;
  transition: 1s;
}

button:hover {
  background-color: greenyellow;
  color: black;
  transition: 1s;
}
