/* Default layout for larger screens */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.sidebar {
  flex: 1;
  order: 1;
}

.main-content {
  flex: 1;
  order: 2;
}

button {
  border-radius: 5px;
  border: 1px grey solid;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 500ms;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: yellow;
  transition: 500ms;
}

/* Link buttons */
.button a {
  background-color: yellow;
  border: 1px solid #a9a9a9; /* Dark grey color for border */
  border-radius: 4px; /* Rounded border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* Adjust font size */
  color: #333;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 500ms;
  font-family: 'Poppins', sans-serif;
}

/* Hover effect */
.button :hover {
  background-color: lightgrey;
  transition: 500ms;
}

input[type='submit'] {
  background-color: yellow;
  border: none;
  border-radius: 4px; /* Rounded border */
  font-size: 14px; /* Adjust font size */
  color: #333;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 500ms;
  font-family: 'Poppins', sans-serif;
}

input[type='submit']:hover {
  background-color: lightgrey;
  transition: 500ms;
}

/* table effect */
body > div.container > div.main-content > table > tbody > tr {
  transition: 500ms;
}

#orderForm {
  width: auto;
}

div.pagination :hover {
  transition: 500ms;
}

/* Responsive layout for mobile devices */
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .sidebar {
    flex: 0 0 250px; /* Adjust the width as needed */
    padding: 15px;
    position: relative; /* Required for pseudo-element */
    margin: 15px;
    margin-top: 30px;
    color: white;
    box-shadow: 2px 3px 6px rgba(255, 255, 0, 0.5);
  }

  .sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://color-print.ro/magazincp/background.jpg');
    background-size: fit;
    filter: blur(2px); /* Adjust blur intensity */
    z-index: -1; /* Puts the blur behind the content */
  }

  .main-content {
    flex: 1;
    padding: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination a {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
}
.pagination a.active {
  background-color: yellow;
  color: black;
  border-radius: 10px;
}
.pagination a:hover {
  background-color: #ddd;
}
.form-group {
  margin-bottom: 10px;
}
/* New styles for order statuses */
.order-assigned {
  background-color: #fffacd; /* Light yellow */
}
.order-completed {
  background-color: #aff1af; /* Light green */
}
.order-current-user {
  background-color: #fceceee8; /* Light pink */
}
.order-delivered {
  background-color: #ffffffe8;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.filters .form-group {
  flex: 1;
  min-width: 150px;
  align-self: end;
}

.filters button {
  align-self: flex-end;
}

textarea {
  max-width: fit-content; /* Adjust the width as needed */
  word-wrap: break-word;
  white-space: normal;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Maximum width */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional styling for modal form */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content .form-group {
  margin-bottom: 15px;
}

.modal-content label {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input[type='text'],
.modal-content input[type='email'],
.modal-content input[type='number'],
.modal-content select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content input[type='submit'] {
  background-color: lightgrey;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content input[type='submit']:hover {
  background-color: yellow;
  color: #333;
}

/* Custom CSS for Select2 golden theme */
/* Yellow theme for Select2 */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  /* Dark grey color for border */
  border-radius: 4px;
  /* Rounded border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  /* Increase font size for better visibility */
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #333;
  padding-left: 5px;
  font-size: 14px;
  /* Adjust font size for the selected item */
  text-align: left;
  /* Align text to the left */
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  background-color: #fff;
  /* White background for the arrow */
  border: none;
  /* Remove border around the arrow */
  border-radius: 0 4px 4px 0;
  /* Rounded right side */
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #a9a9a9 transparent transparent transparent;
  /* Dark grey arrow */
  border-width: 5px 4px 0 4px;
}

.select2-container--default .select2-results__option {
  padding: 12px;
  color: #333;
  font-size: 14px;
  /* Adjust font size for the dropdown options */
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-align: left;
  /* Align text to the left */
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #ffff00;
  /* Yellow color */
  color: #000;
  text-align: left;
  /* Align text to the left */
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #a9a9a9;
  /* Dark grey color */
  outline: none;
  padding: 8px;
  border-radius: 4px;
  /* Rounded border */
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  /* Adjust font size for the search field */
  text-align: left;
  /* Align text to the left */
}

.select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus {
  border-color: #708090;
  /* Light grey color for focus */
  box-shadow: 0 0 5px rgba(169, 169, 169, 0.5);
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #ffff00;
  /* Yellow color */
  border: 1px solid #a9a9a9;
  /* Dark grey color */
  color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  /* Rounded border */
  margin-top: 5px;
  margin-right: 5px;
  white-space: nowrap;
  /* Prevent text from wrapping */
  font-size: 14px;
  /* Adjust font size for multiple selection choices */
  text-align: left;
  /* Align text to the left */
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}

/* Remove scrollbar */
.select2-container--default .select2-results {
  overflow-y: hidden !important;
  /* Remove vertical scrollbar */
  max-width: 100% !important;
  /* Ensure dropdown is wide enough */
}

.select2-container--default .select2-results__options {
  max-width: 100% !important;
  /* Ensure options are wide enough */
}

/* Toggle between V1 and V2 */
#versionToggle {
  background: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#versionToggle:hover {
  background: #555;
}

#versionToggle button {
  background: none;
  color: inherit;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#versionToggle button:hover {
  text-decoration: underline;
}
