@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://color-print.ro/magazincp/fonts/Poppins-Regular.ttf')
    format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: white;
  overflow: auto;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1000; /* Asigură-te că este deasupra altor elemente */
  background: radial-gradient(circle at top left, grey 0%, transparent 40%),
    radial-gradient(circle at bottom right, grey 0%, transparent 40%),
    linear-gradient(135deg, #000000 0%, #1a1a1a 50%, #000000 100%);
  background-blend-mode: screen, normal;
  box-shadow: 0 3px 6px rgba(251, 255, 0, 0.5); /* Adaugă un efect de umbră pentru a diferenția header-ul */
  color: white !important;
  padding: 10px 20px;
  height: 50px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#header > div > a {
  margin-left: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 150px;
  background: radial-gradient(circle at top left, grey 0%, transparent 40%),
    radial-gradient(circle at bottom right, grey 0%, transparent 40%),
    linear-gradient(135deg, #000000 0%, #1a1a1a 50%, #000000 100%);
  background-blend-mode: screen, normal;
  box-shadow: 0 -3px 6px rgba(251, 255, 0, 0.5); /* Adaugă un efect de umbră pentru a diferenția header-ul */
  color: white !important;
  padding: 25px;
  margin-top: 20px !important;
  font-size: medium;
}
